In [30]:
import folium
from folium.plugins import HeatMap
import numpy as np
import pandas as pd
import os
current_directory = os.getcwd()

In [31]:

location=[32.7003, -90.6783]
weather_data = pd.read_csv('/Users/abdullaahrobins/Documents/GitHub/CS506Spring2021Repository/NaturalDisasterProject/Datasets/Tornado_Data_2010-2020.csv')
# folium.Map(location=location, zoom_start=3)
# heat_df = weather_data[['BEGIN_LAT', 'BEGIN_LON']]
# heat_df = heat_df.dropna(axis=0, subset=['BEGIN_LAT','BEGIN_LON'])
# HeatMap(data=weather_data.groupby(['BEGIN_LAT', 'BEGIN_LON']).mean().reset_index().values.tolist(), radius=8, max_zoom=4).add_to(base_map)
# base_map.save('tornado_heat_map.html')

In [4]:
# info = weather_data.info()
# state_occ = weather_data['STATE_ABBR'].value_counts()
# df = weather_data['STATE_ABBR'].value_counts().rename_axis('states').reset_index(name='counts')

In [5]:
# df.info()

In [6]:
# url = (
#     "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data"
# )
# state_geo = f"{url}/us-states.json"

# m = folium.Map(location=location, zoom_start=3)

# folium.Choropleth(
#     geo_data=state_geo,
#     name="choropleth",
#     data=df,
#     columns=["states", "counts"],
#     key_on="feature.id",
#     fill_color="YlGn",
#     fill_opacity=0.7,
#     line_opacity=0.2,
#     legend_name="Tornado Occurrances",
# ).add_to(m)

# folium.LayerControl().add_to(m)

In [7]:
# m

In [8]:
# heat_df

In [9]:
# heat_data = [[row['BEGIN_LAT'],row['BEGIN_LON']] for index, row in heat_df.iterrows()]
# HeatMap(heat_data).add_to(base_map)

In [10]:
# base_map

In [11]:
# base_map.save('heatmap_weather.html')
# base_map.save('choropleth_weather.html')

In [32]:
weather_data

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,224551,YAZOO CO.,ENOLA,04/24/2010,1053,Tornado,,EF4,4,53,...,3,NNW,FORDYKE,32.7003,-90.6783,32.9456,-90.1539,The tornado moved out of extreme southeast Sha...,"During the midday hours of April 24th, an inte...",1
1,224552,HOLMES CO.,ZEIGLERVILLE,04/24/2010,1133,Tornado,,EF4,1,40,...,3,E,DURANT,32.9456,-90.1539,33.0802,-89.8241,The tornado continued northeast into rural sou...,"During the midday hours of April 24th, an inte...",2
2,220277,DEKALB CO.,RODENTOWN,04/24/2010,2301,Tornado,,EF4,0,5,...,1,ESE,DOG TOWN,34.2203,-85.9602,34.3439,-85.7105,A long track tornado began it's 16.6 mile path...,Four damaging tornadoes tore tracks through no...,3
3,231948,CLEVELAND CO.,NORMAN,05/10/2010,1632,Tornado,,EF4,1,32,...,5,ENE,LAKE THUNDERBIRD DAM,35.1808,-97.4273,35.2490,-97.1420,"This tornado is labeled #J1, and moved into Po...",A significant outbreak of severe thunderstorms...,4
4,231939,OKLAHOMA CO.,(TIK)TINKER AFB,05/10/2010,1635,Tornado,,EF4,2,29,...,1,SSE,HARRAH,35.3770,-97.3050,35.4700,-97.1550,This tornado is a continuation of the tornado ...,A significant outbreak of severe thunderstorms...,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,902844,JASPER CO.,MOSS,04/12/2020,1559,Tornado,,EF4,0,6,...,5,S,ORANGE,31.8100,-89.1863,32.0311,-88.9125,"This violent, deadly tornado traveled 68 miles...",An outbreak of severe weather occurred on East...,107
107,889068,HAMPTON CO.,ESTILL MUNI ARPT,04/13/2020,510,Tornado,,EF4,5,60,...,5,NE,FECHTIG,32.7045,-81.2899,32.8290,-80.9092,A National Weather Service Storm Survey Team c...,A severe quasi-linear convective system (QLCS)...,108
108,899721,MARION CO.,ST PAUL,04/19/2020,1813,Tornado,,EF4,1,0,...,4,E,PINEBUR,31.0750,-89.9209,31.1348,-89.6537,This violent tornado began over southeastern W...,A very unstable airmass was in place across th...,109
109,898306,GRANT CO.,ASHBY,07/08/2020,1608,Tornado,,EF4,0,0,...,4,W,ASHBY,46.0900,-95.9400,46.1100,-95.9000,"This tornado began in Grant County, but after ...",A lone weak cell appeared on radar at 430 pm C...,110
110,898307,OTTER TAIL CO.,DALTON,07/08/2020,1615,Tornado,,EF4,1,2,...,5,E,DALTON,46.1100,-95.9000,46.1700,-95.7955,"This tornado began in Grant County, but after ...",A lone weak cell appeared on radar at 430 pm C...,111

In [33]:
weather_data[['BEGIN_LOCATION', 'STATE_ABBR', 'BEGIN_DATE']]

       BEGIN_LOCATION STATE_ABBR  BEGIN_DATE
0               ENOLA         MS  04/24/2010
1        ZEIGLERVILLE         MS  04/24/2010
2           RODENTOWN         AL  04/24/2010
3              NORMAN         OK  05/10/2010
4     (TIK)TINKER AFB         OK  05/10/2010
..                ...        ...         ...
106              MOSS         MS  04/12/2020
107  ESTILL MUNI ARPT         SC  04/13/2020
108           ST PAUL         MS  04/19/2020
109             ASHBY         MN  07/08/2020
110            DALTON         MN  07/08/2020

[111 rows x 3 columns]

In [16]:
weather_data[['BEGIN_LOCATION', 'STATE_ABBR', 'BEGIN_DATE']].to_csv('export_dataframe.csv', index=False)

In [35]:
weather_data['BEGIN_DATE'] = pd.to_datetime(weather_data['BEGIN_DATE'])

In [40]:
import requests
from datetime import timedelta
import json
'''
Formatting:
'start': '2010-01-01',
'end': '2018-12-31',
'''
c = 0
frames = []
for index, row in weather_data.iterrows():
    c+=1
    if c>50:
        break
    end_date = row.BEGIN_DATE
    begin_date = end_date - timedelta(weeks=8)
    lat = row.BEGIN_LAT
    lon = row.BEGIN_LON
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature', 'wind_speed', 'surface_solar_radiation', 'relative_humidity', 'surface_pressure', 'total_precipitation'],
                             'start': begin_date,
                             'end': end_date,
                             'freq': 'D',
                             'lat': lat,
                             'lon': lon,
                             'api-key': 'b03998e660494c2e8165d41369c13248'}
                     )
    w_data = json.loads(r.json()['data'])
    history_df = pd.DataFrame(index=pd.to_datetime(w_data['index'], 
                                       unit='s'),
                  data=w_data['data'],
                  columns=w_data['columns'])
    history_df['latitude'] = lat
    history_df['longitude'] = lon
    frames.append(history_df)
result = pd.concat(frames)
result.to_csv("historical_data.csv", encoding='utf-8', index=False)

result

In [45]:
result.index.name = 'datetime'

In [47]:
result.to_csv("historical_data.csv", encoding='utf-8')

In [48]:
import requests
from datetime import timedelta
import json
from itertools import islice

'''
Formatting:
'start': '2010-01-01',
'end': '2018-12-31',
'''
c = 0
frames = []
for index, row in islice(weather_data.iterrows(),51,None):
    end_date = row.BEGIN_DATE
    begin_date = end_date - timedelta(weeks=8)
    lat = row.BEGIN_LAT
    lon = row.BEGIN_LON
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature', 'wind_speed', 'surface_solar_radiation', 'relative_humidity', 'surface_pressure', 'total_precipitation'],
                             'start': begin_date,
                             'end': end_date,
                             'freq': 'D',
                             'lat': lat,
                             'lon': lon,
                             'api-key': 'b03998e660494c2e8165d41369c13248'}
                     )
    w_data = json.loads(r.json()['data'])
    history_df = pd.DataFrame(index=pd.to_datetime(w_data['index'], 
                                       unit='s'),
                  data=w_data['data'],
                  columns=w_data['columns'])
    history_df['latitude'] = lat
    history_df['longitude'] = lon
    frames.append(history_df)
result2 = pd.concat(frames)
result2.index.name = 'datetime'
result2.to_csv("historical_data2.csv", encoding='utf-8')

In [49]:
result2

,temperature (degC),wind_speed (m/s),surface_solar_radiation (W/m^2),relative_humidity (0-1),surface_pressure (Pa),total_precipitation (mm of water equivalent),latitude,longitude
datetime,,,,,,,,
2011-03-02,15.46,3.17,233,0.53,100151,0.00,32.7545,-85.8826
2011-03-03,14.66,5.03,150,0.62,100264,0.00,32.7545,-85.8826
2011-03-04,13.80,4.30,54,0.87,99872,0.67,32.7545,-85.8826
2011-03-05,9.99,2.03,174,0.84,99289,1.73,32.7545,-85.8826
2011-03-06,6.34,1.78,180,0.68,99772,0.00,32.7545,-85.8826
...,...,...,...,...,...,...,...,...
2020-07-04,26.76,3.30,331,0.61,97023,0.00,46.1100,-95.9000
2020-07-05,24.55,1.61,233,0.69,97004,0.11,46.1100,-95.9000
2020-07-06,24.38,1.65,287,0.68,96966,0.01,46.1100,-95.9000
2020-07-07,25.59,3.91,267,0.68,96431,0.50,46.1100,-95.9000
2020-07-08,31.23,1.21,290,0.56,96143,0.01,46.1100,-95.9000

In [50]:
result_fin = pd.concat([result,result2])

In [51]:
result_fin.to_csv("historical_data_fin.csv", encoding='utf-8')